<!-- Background grid decoration -->
  <div class="fixed inset-0 grid grid-cols-6 md:grid-cols-12 w-full h-full pointer-events-none opacity-[0.03]">
    <div class="border-r border-text"></div>
    <div class="border-r border-text"></div>
    <div class="border-r border-text"></div>
    <div class="border-r border-text"></div>
    <div class="border-r border-text"></div>
    <div class="border-r border-text"></div>
    <div class="border-r border-text md:block hidden"></div>
    <div class="border-r border-text md:block hidden"></div>
    <div class="border-r border-text md:block hidden"></div>
    <div class="border-r border-text md:block hidden"></div>
    <div class="border-r border-text md:block hidden"></div>
    <div class="border-r border-text md:block hidden"></div>
  </div>