<header
  class="fixed top-0 left-0 right-0 flex justify-between w-full max-w-6xl mx-auto py-4 px-6 text-sm bg-bg/80 backdrop-blur-sm z-10"
>
  <p class="tracking-wide group">
    Web Developer
    <span
      class="block h-px w-0 bg-text transition-all duration-300 group-hover:w-full"
    ></span>
  </p>
  <a href="/" class="tracking-wide group">
    Gpagus™
    <span
      class="block h-px w-0 bg-text transition-all duration-300 group-hover:w-full"
    ></span>
  </a>
  <p class="tracking-wide group">
    PortFolio (BETA)
    <span
      class="block h-px w-0 bg-text transition-all duration-300 group-hover:w-full"
    ></span>
  </p>
</header>